{% extends "register/layout/base_register.html" %}
{% load static %}
{% block title %}
Sign up | CHISMES ULEAM
{% endblock title %}
{% block content %}
<section class="h-auto">
    <div class="max-w-xs mx-auto mt-10">
        {% include "register/components/text_title.html" with title_text="Crear una cuenta" %}
        <div
            class="bg-blanco mt-6 py-4 px-4  rounded-lg border-2 border-verder_claro  font-Courier_New shadow shadow-verder_claro">
            <form id="signup-form" method="post">
                {% csrf_token %}
                    <p class="flex flex-col my-2">
                    {% include "register/components/input.html" with id="username" label="Nombre" %}
                        {{ form.username }}
                    </p>
                    <p class="flex flex-col my-2">
                    {% include "register/components/input.html" with id="password1" label="Contrasena" %}
                        {{ form.password1 }}
                    </p>
                    <p class="flex flex-col my-2">
                    {% include "register/components/input.html" with id="password2" label="Confirmar contrasena" %}
                        {{ form.password2 }}
                    </p>

                <p class="flex justify-center gap-4 items-center my-2">
                    {{ form.checkbox }}
                    <span>Acepta los terminos y condiciones</span>
                </p>
 

                <p id="error-message" class="text-naranja_claro">

                </p>

                <button
                    class="bg-verder_claro text-blanco font-bold py-2 px-4 rounded-lg w-full  my-2 transition-scale-102">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</section>
<script src="{% static 'js/controllers/api/postControllersSigup.js' %}" type="module"></script>

{% endblock content %}